body {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  .hello 
  {
      text-align: center;
      text-shadow: 1.5px 1px #333;
      background-color: #04AA6D;
      text-decoration: none;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-size: 40;

  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
/*parallax */
  .parallax {
    /* The image used */
    background-image: url("");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax1 {
    /* The image used */
    background-image: url("https://visualskins.com/media/p/392/jrvis-shield-os-rainmeter.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*flexbox*/
.flex-container {
    display: flex;
    
    padding:10px;
    justify-content:space-evenly;
  }
  .div1{
    background-color: rgb(44, 43, 43);
  width:200px;
  height:330px;
  background-color:rgb(58, 56, 56);
  border:1px solid black;
  border-radius:15px;
  overflow:hidden;
  }
  .header{
  background-color:yellow;
  color:black;
  height:40px;
  display:flex;
  align-items:center;
  justify-content:center;
  }
  .content{
    background-color: rgb(58, 56, 56);
  text-align:center;}
  
  .line{
  width:100px;
  height:1px;
  background-color:silver;
  margin:0 auto;
  }
  
  .area {
    padding-bottom: 800px !important;
  }
/*sticky */
#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


  